html {
    position: relative;
    min-height: 100%;
}


.nav-logo {
    width: 75px;
    height: 40px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(26, 25, 25, 0.7);
  z-index: 5;
}

.modal-child {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 200px;

}

