html {
    position: relative;
    min-height: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(48, 46, 46, 0.7);
  z-index: 5;
}

.modal-child {
    position: absolute;
    top: 6.5%;
    left: 40%;
    transform: translate(-50%, -50%);
}

footer {
  background-color: rgb(4,106,167);
  display: flex; 
  justify-content: space-around;
}

footer > li{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 35px;
  height: 35px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.personal-icons{
  width: 30px;
  height: 30px;
}




