html {
    position: relative;
    min-height: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(48, 46, 46, 0.7);
  z-index: 5;
}

.modal-child {
    position: absolute;
    top: 6.5%;
    left: 40%;
    transform: translate(-50%, -50%);
}




