.board-index-page {
    padding-top: 50px;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(250,251,252);
    display: flex;
    justify-content: center;
}

.board-ind-center{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.board-ind-center > h3 {
    padding: 30px 0 10px 0;
    font-weight: bold;
}

.board-index {
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.board-index > li {
    width: 120px;
    height: 40px;
    padding: 25px;
    background-color:rgb(4,105,166) ;
    color:rgb(250,251,252);
    margin: 10px 15px 0 0;
    border-radius: 4px;
    cursor: pointer;
}

.board-index > li:hover{
    -webkit-filter: brightness(96%); 
}

.board-index > .index-create-modal {
    background-color: rgb(241,243,245);
    color:rgb(23,43,77);
    border-radius: 4px;
}

.board-index > li > a {
    text-decoration: none;
    cursor: pointer;
}
