.card-index-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-item-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(12, 32, 68, 0.25);
    border-radius: 3px;
    font-size: 15px;
}

.create-card-form {
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 7px
}

.create-card-title > input{
    background-color: rgb(235,236,240);
    border: none;
    font-size: 15px;
}

.create-card-form > button {
    font-size: 15px;
    cursor: pointer;
}


.edit-card-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(61, 58, 58, 0.226);;
    z-index: 5;
    padding:0;
}

.edit-card-modal-child {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding:0;
}


.edit-card-container {
    padding: 20px 0 20px 0 ;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-height: 630px;
    background-color: rgb(244,245,247);
    border-radius: 3px;
}

.edit-card-container > .edit-card-form{
    display: flex;
    flex-direction: column;
    height: 135px;
    width: 500px;
}

.edit-card-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 5px;
    width: 530px;
}

.edit-card-title > input{
    border:none;
    background-color: rgb(244,245,247);
    font-weight: bold;
    font-size: 22px ;
    width: 450px;
}

.edit-card-title > input[type=text]:focus{
  background-color:white;  
}

.edit-card-title > .edit-card-closex{
    cursor: pointer;
}

.edit-card-descp > textarea:focus{
  background-color:white;  
}

.card-edit-form-info{
    display: flex;
    justify-content: space-between;
    padding-right: 10px ;
    width: 520px;
}

.edit-card-duedate{
    font-size: 13px;
    margin: 10px 10px 20px 10px;
}

.edit-card-duedate > .duedate {
    margin: 5px 0 0 0;
    padding: 6px 6px 6px 14px;
    background-color: #ECEDF0;
    width:115px;
    border-radius: 3px;
    font-size: 15px;
}

.edit-card-description {
    margin-top: 10px;
    font-weight: bold;
}

.edit-card-descp > textarea {
    margin-top: 8px;
    padding-top: 8px;
    padding-left: 8px;
    border: none;
    font-size: 14px;
    height: 80px;
    width: 330px;
    font-family: sans-serif;
    background-color: #ECEDF0;
    resize: none;
    border-radius: 3px;
}

.edit-card-deadline{
    width: 150px;
}

.edit-card-deadline > .deadline-title{
    font-size: 13px;
    margin-bottom: 10px;
    margin-top:10px;
}

.add-to-card-label {
    margin-left: 3px;
    margin-top: 6px;
    padding: 6px;
    background-color: #ECEDF0;
    border-radius: 3px;
    cursor: pointer;
}

.card-deadline-form{
    margin-top: 10px;
    background-color: white;
    width: 155px;
    padding:8px;
    border-radius: 3px;
}

.card-deadline-form > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.change-dd {
    font-size: 14px;
}

