.card-comment-index-ctn{
    width: 450px;
    display: flex;
}

.comment-headr{
    font-size: 16px;
    font-weight: bold;
}

.card-comment-index-ctn{
    display: flex;
    flex-direction: column;
}