.all-lists-container{
    background-color: rgb(5,121,191);
    position: fixed;
    padding:0;
    margin:0;
    top:100;
    left:100;
    width: 100%;
    height: 100%;
    color: pink
}

.list-area {
    display: flex;
}

.list-index-items {
    display: flex;
}

.list-edit-form-spec {
    display: flex;
    margin:0 10px;
}