.main-nav {
    padding-left: 5px;
    padding-right: 5px;
    height: 44px;
    font-family: sans-serif;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(4,106,167);
}

.main-nav-logo {
    width: 52px;
    height: 32px;
}

.main-nav .logo-boards:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    50% { transform: translate(-2px, -2px) rotate(0deg); }
}

.home-icon {
    color:rgb(227, 229, 236);
}

.nav-sides{
    display: flex;
    color: white;
}

.nav-sides a {
    margin-right:3px;
    width: 32px;
    height: 32px;
    background-color: rgb(100, 165, 206);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-sides a:hover {
    background-color: rgb(68, 137, 180);
}

.profile-dropdown-btn {
    position: relative;
    display: inline-block;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 14px;
    padding: 10px;
    background-color: rgb(223,225,230);
    color: $darkblue;
    border-radius: 28px;
}

.profile-letter {
    height: 13px;
    width: 14px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
}

.profile-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
	text-align: left;
	top: 43px;
	right: 0;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(221,224,229);
	border-radius: 3px;
    width: 230px;
    font-size:14px;
	color: rgb(61,76,104);
    box-shadow: 0 10px 15px -5px rgba(9,30,66,.25);
}

.profile-content li {
    color: $darkblue;
    text-decoration: none;
    display: block;
}

.accountx {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    align-content: center;
}

.accountx > p {
    cursor: pointer;
    font-size: 16px;
    width: 10px;
    height: 16;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-info > div {
    display: flex;
    justify-content: center;
}

.profile-info > div > p {
    width: 210px;
    border-top: 1px solid rgb(228,230,232);
}

.profile-name {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 4px
}

.profile-email{
    color: rgb(183,189,199);
    padding-left: 10px;
    padding-bottom: 15px;
}

.profile-logout {
    padding-bottom: 6px;
    padding-top: 6px;
}

.logout-cont:hover {
    background-color: rgb(242, 244, 247);
    cursor: pointer;
}

.nav-logout {
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    display: block;
}

