.splash-logo {
    width: 75px;
    height: 42px;
}

img {
    border-radius: 10px;
    width: 550px;
    height: 380px;
}

html, body {
  height: 100%;
}

#splash-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $midblue;
  color: $white;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 69px;
}

.splash-content{
  flex: 1 0 auto;
}

.splash-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.go-to-splash {
    font-size: 43px;
    font-family:'Yellowtail', cursive;
    display: flex;
    text-decoration: none;
}

.go-to-splash:hover {
    text-decoration: none;
}

.session-links{
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

.session-links > a {
    margin: 10px 10px 0px 0px;
    font-size: 15px;
}

.session-links > button {
    color:rgb(68,155,206);
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    height: 33px;
    border: 1px solid white;
    background-color: white;
    margin-left: 5px;
}

.session-links > button:hover {
    cursor: pointer;
}

.splash-welcome {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 20px;
}

.splash-text > h1{
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;  
    margin: 0 0 16px; 
    padding-top: 55px;
    width: 550px;
    height: 150px;
}

.splash-text > p{
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 16px; 
    width: 550px;
    height: 75px;
}


.splash-footer {
  flex-shrink: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  background: white;
  color: rgb(138,148,165);
}








